body {
  background-image: url(coffeebeans.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  padding: 20px;
}
#menu {
  background-color: rgb(217, 179, 140);
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}
h1,
h2 {
  text-align: center;
  font-family: Impact, serif;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
img {
  width: 25px;
  height: 25px;
}
#established {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}
#title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
.icon {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 25px;
}
.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.flavor,
.dessert {
  text-align: left;
  width: 74%;
}
.price {
  text-align: right;
  width: 24%;
}
#bottom-line {
  margin-top: 20px;
}
